#landing {
	padding-top: 17vh;
	width: 70vh;
}

#landing h1 {
	font-size: 10vh;
	padding-bottom: 5vh;
}

#home-create-room h4 {
	float: left;
	display: inline;
}

#home-create-room input {
	float: right;
	display: inline;
}

#home-submit {
	float: right;
}

#landing label {
	font-size: 4vh;
}

#more-details {
	margin-top: 17vh;
	width: 100vh;
}

#more-details label {
	font-size: 3vh;
}

#room-size {
	width: 5vh;
}

#room-page {
	margin-top: 5vh;
}

#everything-else {
	height: 85vh;
	border-style: solid;
}

#chat-box{
	height: 85vh;
	border-style: solid;
}

#music-player {
	height: 40%;
}

#song-queue {
	height: 50%;
	border-style: solid; 
}